In [23]:
import os
import pandas as pd

current_directory = os.getcwd()
print(current_directory)

C:\Users\briel\Downloads

In [24]:
new_directory_path = r'C:\Users\briel\Downloads'
os.chdir(new_directory_path)

In [25]:
updated_dir = os.getcwd()
print(updated_dir)

C:\Users\briel\Downloads

In [37]:
file_path = "C:\\Users\\briel\\Downloads\\Week13Assignment.txt"

try:
    with open(file_path, "r") as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print(f"File '{file_path}' not found.")
except IOError:
    print("An error occured while reading the file.")

Name, Age, Gender, BloodPressure, Temperature
John Doe, 45, Male, 120/80, 36.8
Jane Smith, 32, Female, 130/85, 37.2
Alice Johnson, 50, Female, 140/90, 36.5
Michael Brown, 55, Male, 135/82, 37.0
Emily Wilson, 40, Female, 125/78, 36.9

In [38]:
df = pd.read_csv(file_path)

In [39]:
print(df)

            Name   Age   Gender  BloodPressure   Temperature
0       John Doe    45     Male         120/80          36.8
1     Jane Smith    32   Female         130/85          37.2
2  Alice Johnson    50   Female         140/90          36.5
3  Michael Brown    55     Male         135/82          37.0
4   Emily Wilson    40   Female         125/78          36.9

In [41]:
print(df.columns)

Index(['Name', ' Age', ' Gender', ' BloodPressure', ' Temperature'], dtype='object')

In [48]:
average_age = df[' Age'].mean()
print(average_age)

44.4

In [49]:
male = (df[' Gender'] == ' Male').sum()
female = (df[' Gender'] == ' Female').sum()
print(f"The number of male patients is {male} and the number of female patients is {female}.")

The number of male patients is 2 and the number of female patients is 3.

In [50]:
max_bp = max(df[' BloodPressure'])
print(f"The highest blood pressure is {max_bp}.")

The highest blood pressure is  140/90.

In [51]:
low_bp = min(df[' BloodPressure'])
print(f"The lowest blood pressure is {low_bp}.")

The lowest blood pressure is  120/80.

In [52]:
average_temp = df[' Temperature'].mean()
print(f" the average temperature is {average_temp}.")

 the average temperature is 36.88.